/node_modules/
/dist
/debug.log
/userdata/users/*.data
/userdata/syncs/*.json
/.env
/userdata/projects/project-settings.data
/coverage
/.env.production
/userdata/projects/system-settings.data
